@font-face {
    font-family: ;
    src: url();
}

.card{
    width: 12rem;
}
.card-img-top{
    width: 3rem;
    height: 3rem;
    margin: auto;
}
.list-group-item img{
    width: 80px;
    margin: auto;
}

body{
    background-image: url(../img/background-night.png);
    background-size: 100%;
    background-attachment: fixed ;
    font-family: 'Press Start 2P', cursive;
    font-size:  x-small;
    }

.card-title {
    font-size: 0.8rem;
    margin-bottom: -15px;
}

.navbar-brand text-warning 

.cartAdd{
    filter: brightness(0) invert(1);
    /* filter: invert(22%) sepia(56%) saturate(3563%) hue-rotate(338deg) brightness(100%) contrast(83%); */
    
}
.cartAdd:hover{
    filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(2144%) hue-rotate(330deg) brightness(93%) contrast(95%);
    cursor: pointer;
}

.dropdown-menu li{
    margin-top: 3px;
}

.dropdown-menu li img:hover{
    cursor: pointer;
}