.card{
    width: 12rem;
}

.card-img-top{
    width: 3rem;
    height: 3rem;
    margin: auto;
}
.list-group-item img{
    width: 80px;
    margin: auto;
}

body{
    background-image: url(../img/background-night.png);
    background-size: 100% 100%;
    background-attachment: fixed ;
    font-family: 'Press Start 2P', cursive;
    font-size:  x-small;
    }

.card-title {
    font-size: 0.8rem;
    margin-bottom: -15px;
    background-repeat: no-repeat;
}
@media(max-width : 680px){
    body{
        background-size: cover;
    }

}

#pokéTitle {
    font-family: 'Pokemon Solid', sans-serif!important;
    font-size: 5rem;
    position: relative;
    top: -20px;                
}

.pokéSubTitle {
    text-align: center;
}
@media(max-width: 404px){
    #pokéTitle{
        font-size: 2rem;
    }
    .pokéSubTitle{
        font-size: smaller;
    }
}

.cartAdd{
    filter: brightness(0) invert(1)!important;
    /* filter: invert(22%) sepia(56%) saturate(3563%) hue-rotate(338deg) brightness(100%) contrast(83%); */
    
}
.cartAdd:hover{
    filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(2144%) hue-rotate(330deg) brightness(93%) contrast(95%);
    cursor: pointer;
}

.dropdown-menu li{
    margin-top: 3px;
}

.dropdown-menu li img:hover{
    cursor: pointer;
}